.row .avatar{
    width: 100px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;

}

.navbar .container-avatar img,
.pub_image .container-avatar img{
       height: 100%;
}
.pub_image{
    margin-bottom: 25px;
}

.pub_image .container-avatar{
    margin-right: 20px;
    float: left;
}

.pub_image .data-user{
    float: left;
    font-weight: bold;
}

.pub_image .data-user a{
    color: #444;
    text-decoration: none;
}

.pub_image .data-user a:hover{
    text-decoration: underline solid 1px;
}

.pub_image .card-header{
    display: flex;
    align-items: center;
}

.pub_image .nickName{
    color: gray;
}

.image-container{
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.image-detail{
    max-height: 500px;
}

.pub_image .card-body{
    padding: 0px;
}

.pub_image .description{
    padding: 20px;
    padding-bottom: 0px;
}

.pub_image .btn-comments{
    margin: 20px;
    margin-top: 0px;
}

.likes{
    float: left;
    padding-left: 20px; 
}

.number-likes{
    color: gray;
    font-size: 12px;
    
}

.likes img{
    width: 30px;  
    margin-right: 7px;  
}

.pub_image_detail .comments{
    padding: 20px;
}

